/* ./src/styles/global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* .text-sm {
  font-size: .8rem;
} */
.base-text {
  font-size: .8rem;  /* 11px */
  font-family: sans-serif;
}
h1 {
  font-size: 1.6rem;
  font-weight: bold;
}
h2 {
  font-size: 1.4rem;
  font-weight: bold;
}
h3 {
  font-size: 1.0rem;
  font-weight: bold;
  color: purple;
}
.navLinkItem {
  color: red;
  font-weight: bold;
}
.navLinkText {
  color: blue;
}
nav {
  color: orange;
  font-weight: bold;
}