/* ./src/styles/global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
  background-color: theme('colors.white');
  border-radius: theme('borderRadius.lg');
  padding: theme('spacing.6');
  box-shadow: theme('boxShadow.xl');
}
.smallText {
  font-size: .8rem;  /* 11px */
  font-family: "Titillium Web", sans-serif;
  color: black;
}
p {
  font-size: 1rem;  /* 11px */
  font-family: "Titillium Web", sans-serif;
  color: black;
}
li {
  font-size: .9rem;
}
.link-text {
  font-size: .8rem;  /* 11px */
  font-family: sans-serif;
}
.largeText {
  font-size: 26px;
}
.titleStyle {
  font-size: 1.6rem;
  font-weight: 900;
  color: #ff7f00; 
}
h1 {
  font-size: 1.1rem;
  font-weight: 900;
  color: #ff7f00; /* #fa5b46; #ff7f00; #fe6201; */
}
h2 {
  font-size: 1.4rem;
  font-weight: bold;
}
h3 {
  font-size: 1.0rem;
  font-weight: bold;
  color: black;
}
.navLinkItem {
  color: black;
  /* font-weight: bold; */
}
.navLinkText {
  color: black;
}
nav {
  color: black;
  /* font-weight: bold; */
}
a {
  cursor: pointer;
  font-size: .9rem;
  text-decoration: none;
  color: black;
  font-weight: bold;
}
a:hover {
  background-color: #ff7f00;
  filter: brightness(70%);
}
bg-orange-300 {
  color: #ff7f00;
}
button {
  font-size: 18px;
  font-weight: bold;
  background-color: #ff7f00;
}
.saturate_effect {
  filter: saturate(.5);
}
