/* Marmalade orange is '#ff7f00' */
/* bg-orange-200, background-color: rgb(254 215 170);. bg-orange-300, background-color: rgb(253 186 116); */

.marmalade-200 {
  color: rgb(254 215 170);
  /* #ff7f00; */
}
.marmalade-100 {
  color: rgb(253 186 116);
  /* #ff7f00; */
}
.bg-marmalade-200 {
  background-color: rgb(254 215 170);
  /* #ff7f00; */
}

bg-marmalade-100 {
  background-color: rgb(253 186 116);
  /* #ff7f00; */
}

.container {
  /* margin: auto; */
  margin-left: 20px;
  margin-right: 20px;
  max-width: 1536px;  /* 1536px <-- 500px; */
  font-family: sans-serif;
}

.heading {
  color: black;
}
.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.nav-link-item {
  padding-right: 2rem;
}
.nav-link-text {
  color: orange;
}

.site-title {
  font-size: 3rem;
  color: gray;
  font-weight: 700;
  margin: 3rem 0;
}
